@import 'src/styles/vars';

.header {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-bottom: 25px;

  &.enter {
    opacity: 0;
    pointer-events: none;
  }

  &.enterActive {
    opacity: 1;
    pointer-events: none;

    @include transition(opacity);
  }

  &.exit {
    opacity: 1;
    pointer-events: none;
  }

  &.exitActive {
    opacity: 0;
    pointer-events: none;

    @include transition(opacity);
  }
}

.button {
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.065) !important;

  &[data-loading=false] {
    .icon {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
