@import 'src/styles/vars';

.button {
  display: flex;
  gap: 15px;
  height: 80px;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-radius: $border-radius-large;
  padding: 20px;
  transition: $transition;
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: $border-radius-large;
    background-color: transparent;
    transition: $transition;
  }

  &:hover::before {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active::before {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &_selected {
    background-color: $accent;
  }
}

.details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  &__website {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
  }
}
