@import 'src/styles/vars';

.button {
  gap: 15px;
  height: 80px;
  width: 100%;
  background-color: transparent !important;
  border-radius: $border-radius-large !important;
  padding: 20px !important;
  text-align: start;
  font-size: 13px;

  @include transition(background-color);

  &.selected {
    background-color: $accent !important;
  }

  &:hover::before {
    background-color: rgba(255, 255, 255, 0.06);
  }

  &:active::before {
    background-color: rgba(255, 255, 255, 0.12);
  }
}

.details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .caption {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
  }
}
