.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
  overflow-y: auto;
}

.emptyPlaceholder {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-weight: 200;
}