@import 'src/styles/vars';

.container {
  height: 100%;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
  
  @include transition(border-radius background-color);

  &.loading {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    animation: blink 1.5s infinite;
  }
}

.image {
  height: 100%;
  width: 100%;
  border-radius: $border-radius;

  @include transition(opacity);

  &.loading {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes blink {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.6;
  }
}
