@import 'src/styles/vars';
@import 'src/styles/skeleton';

.bone {
  @include bone;
}

.background {
  display: flex;
  gap: 15px;
  flex: 0 0 80px;
  width: 100%;
  border-radius: $border-radius-large;
  padding: 20px;
}

.image {
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1/1;
}

.details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;

  .title {
    height: 20px;
    width: 40%;
    border-radius: 16px;
  }

  .subtitle {
    height: 12px;
    border-radius: 10px;
    width: 30%;
  }
}
