@import 'src/styles/vars';

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: $accent;
  border-radius: $border-radius;
  position: relative;
  cursor: pointer;
  border: 0;
  padding: 5px 7px;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
  transition: $transition;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: $transition;
  }

  &:hover::before {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active::before {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &.loading {
    color: transparent;
  }
}

.spinner {
  position: absolute;
  top: auto;
  left: auto;
  height: 70%;
  aspect-ratio: 1/1;
  border: 3px solid white;
  border-bottom-color: transparent;
  border-radius: 50%;
  opacity: 0;
  transition: $transition;

  &.visible {
    opacity: 1;
    animation: 750ms spin linear infinite;
  }
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
