@import 'src/styles/vars';

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (width > 767px) {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (width <= 767px) {
    width: 100%;
  }

  .fullWidth {
    margin: 0;
    width: 100%;
  }
}

.error {
  color: $danger;
  font-size: 14px;
}
