@import 'src/styles/vars';
@import 'src/styles/screen';

.container {
  display: flex;
  height: 100%;
  gap: 100px;
}

.passwordList {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-shrink: 0;

  @include desktop {
    width: 400px;
  }

  @include tablet {
    width: 325px;
  }

  @include mobile {
    width: 100%;
  }

  @include mobile {
    display: none;

    &.active {
      display: flex;
    }
  }
}

.passwordEditorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  @include mobile {
    display: none;

    &.active {
      display: flex;
    }
  }

  .placeholder {
    background-color: $bg-light;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 14px;
    opacity: 0.5;
    font-weight: 300;
  }
}
