@import 'src/styles/vars';
@import 'src/styles/screen';

.container {
  display: flex;
  height: 100%;
  gap: 100px;
}

.passwordList {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  @include mobile {
    &.editorOpen {
      display: none;
    }
  }
}

.passwordEditorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @include mobile {
    &.editorNotOpen {
      display: none;
    }
  }

  .placeholder {
    background-color: $bg-light;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 14px;
    opacity: 0.5;
    font-weight: 300;
  }
}
