@import 'src/styles/vars';

.container {
  display: flex;
  height: 100%;

  &_switch-enter {
    opacity: 0;
    scale: 1.05;
  }

  &_switch-enter-active {
    opacity: 1;
    scale: 1;
    transition: $transition;
  }

  &_switch-exit {
    opacity: 1;
    scale: 1;
  }

  &_switch-exit-active {
    opacity: 0;
    scale: 0.95;
    transition: $transition;
  }
}

.password-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
