@import 'src/styles/vars';

.password {
  &:hover::before,
  &:active::before {
    background-color: transparent !important;
  }
}

$removeButtonSize: 25px;

.container {
  position: relative;
  margin-right: calc($removeButtonSize / 2);
  border-radius: $border-radius-large;

  @include transition(background-color);

  &:hover {
    background-color: rgba(255, 255, 255, 0.06);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.12);
  }
}

.removeButtonContainer {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 50% -50%;

  .removeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $removeButtonSize;
    width: $removeButtonSize;
    padding: 2px;
    border-radius: 50%;
    background-color: $bg;
    border: 1px solid $bg-light;
    color: white;
    cursor: pointer;
    opacity: 0;

    @include transition(opacity, background-color, border-color color);

    .container:hover & {
      opacity: 1;
    }

    &:hover {
      background-color: $danger;
      border-color: $danger;
      color: white;
    }

    .icon {
      height: 100%;
      width: 100%;
    }
  }
}
