@import 'src/styles/vars';

.container {
  display: flex;
  gap: 10px;

  &.enter {
    opacity: 0;
    scale: .95;
    pointer-events: none;
  }

  &.enterActive {
    opacity: 1;
    scale: 1;
    pointer-events: none;

    @include transition(opacity, scale);
  }

  &.exit {
    opacity: 1;
    scale: 1;
    pointer-events: none;
  }

  &.exitActive {
    opacity: 0;
    scale: .95;
    pointer-events: none;

    @include transition(opacity, scale);
  }
}

.button {
  font-size: 22px !important;
  background-color: transparent !important;
  height: fit-content !important;
  color: rgba(255, 255, 255, 0.5);
}
