.title {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  height: 75px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 25px;
  margin-bottom: 25px;
  gap: 25px;
}

.input {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  background-color: transparent;
  border: 0;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  font-size: 22px !important;
  background-color: transparent !important;
  height: fit-content !important;
  color: rgba(255, 255, 255, 0.5);
}
