@import 'src/styles/vars';

.spinner {
  position: absolute;
  top: auto;
  left: auto;
  height: 100%;
  aspect-ratio: 1/1;
  border: 3px solid rgba(255, 255, 255, 0.15);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 750ms spin linear infinite;

  &.enter {
    opacity: 0;
  }

  &.enterActive {
    opacity: 1;
    @include transition(opacity);
  }

  &.exit {
    opacity: 1;
  }

  &.exitActive {
    opacity: 0;
    @include transition(opacity);
  }
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
