@import '../styles/vars.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-bottom: 25px;

  &__button {
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.065) !important;

    &__icon {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.edit {
  &_enter {
    opacity: 0;
  }

  &_enter-active {
    opacity: 1;
    transition: $transition;
  }

  &_exit {
    opacity: 1;
  }

  &_exit-active {
    opacity: 0;
    transition: $transition;
  }
}

.close {
  &_enter {
    opacity: 0;
    max-width: 5ch;
    transition: none !important;
  }

  &_enter-active {
    opacity: 1;
    max-width: 88px;
    transition: $transition !important;
  }

  &_exit {
    opacity: 1;
    max-width: 88px;
    transition: none !important;
  }

  &_exit-active {
    opacity: 0;
    max-width: 5ch;
    transition: $transition !important;
  }
}

.title {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  height: 75px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 25px;
  margin-bottom: 25px;
  gap: 25px;

  &__input {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    background-color: transparent;
    border: 0;
  }

  &__buttons {
    display: flex;
    gap: 10px;

    &__button {
      font-size: 22px !important;
      background-color: transparent !important;
      height: fit-content !important;
      color: rgba(255, 255, 255, 0.5);
    }

    &_enter {
      opacity: 0;
      translate: -50px;
    }

    &_enter-active {
      opacity: 1;
      translate: 0;
      transition: $transition;
    }

    &_exit {
      opacity: 1;
      translate: 0;
    }

    &_exit-active {
      opacity: 0;
      translate: -50px;
      transition: $transition;
    }
  }
}

.field-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

.password {
  &_enter {
    opacity: 0;
    margin-bottom: -79px;
    overflow: hidden;
  }

  &_enter-active {
    opacity: 1;
    margin-bottom: 0;
    transition: $transition;
  }

  &_exit {
    opacity: 1;
    margin-bottom: 0;
  }

  &_exit-active {
    opacity: 0;
    margin-bottom: -79px;
    overflow: hidden;
    transition: $transition;
  }
}
